/* key
color: #9ecbec (light blue of nav)
color: #b8d9f1 (even lighter blue)
color: #2dc2d2 (teal)
color: #ebbe47 (gold)
color: #f5dfa6 (even lighter gold)
color: #b7b7b7 (dark grey)
color: #f2bc95 (logo skin color)
color: #72d6e1 (teal for elementary)
color: #c995c8 (purple for middle)
color: #b0cf75 (green for high school)*/

/* event page layout */
#eventpage {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  font-family: 'Quicksand', sans-serif;
}

#titleevent{
  align-items: center;
  padding-top: 10%;
}

#gradeevent {
  font-family: 'Quicksand', sans-serif;
  font-size: 40px;
  color: #ebbe47;
}

#cityheadingevent {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 80px;
  font
}

#headingevent {
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}

.containerevent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.containerevent .boxevent {
  position: relative;
  width: 350px;
  height: 400px;
  padding: 40px;
  background: white;
  box-shadow: 0 5px 15px rgba(0,0,0,.1);
  border-radius: 4px;
  margin: 20px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}

.containerevent .boxevent:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255,255,255,.2);
  pointer-events: none;
}

.containerevent .boxevent .iconevent {
  position: relative;
  width: 80px;
  height: 80px;
  color: white;
  background: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  transition: 1s;
}

.containerevent .boxevent:nth-child(1) .iconevent {
  box-shadow: 0 0 0 0 white;
  background: #9ecbec;
  /* above is the color of middle circle */
}

.containerevent .boxevent:nth-child(1):hover .iconevent {
  box-shadow: 0 0 0 400px #9ecbec;
}

.containerevent .boxevent:nth-child(2) .iconevent {
  box-shadow: 0 0 0 0 white;
  background: #9ecbec;
  /* above is the color of middle circle */
}

.containerevent .boxevent:nth-child(2):hover .iconevent {
  box-shadow: 0 0 0 400px blue;
}

.containerevent .boxevent:nth-child(3) .iconevent {
  box-shadow: 0 0 0 0 white;
  background: #9ecbec;
  /* above is the color of middle circle */
}

.containerevent .boxevent:nth-child(3):hover .iconevent {
  box-shadow: 0 0 0 400px #9ecbec;
}

.containerevent .boxevent .content {
  position: relative;
  z-index: 1;
  transition: 0.5s;
}

.containerevent .boxevent:hover .content {
  color: #9ecbec;
}

.containerevent .boxevent .content h{
  font-size: 20px;
  margin: 10px 0;
  padding: 0;
  color:black;
}

.containerevent .boxevent .content p{
  font-size: 15px;
  margin: 10px 0;
  padding: 0;
  color:black;
}

/* about us heading */
#aboutheading {
  font-family: 'Ubuntu', sans-serif;
  /* font-weight: bold; */
  font-size: 40px;
  text-align: center;
  margin-top: 60px;
  position: relative;
  /* margin-left: 44%; */
  color:#ebbe47;
  margin-bottom: 20px;
}

/* about us paragraph*/
#aboutparagraph {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  text-align: center;
  color: black;
  position: absolute;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 50px;
}

#aboutsection {
  padding-bottom: 150px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  margin-top: 10%;
}

.wrapper h1{
  font-family: 'Quicksand', sans-serif;
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .team_member{
  background: #c4dff3;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;
  position: relative;
}

.team .team_member h3{
  color: #ebbe47;
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p.role{
  color: white;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
}

#teamimg {
  border-radius: 50%;
}


.team .team_member .team_img img{
  width: 100px;
  height: 100px;
  padding: 5px;
}

/* image of light opacity */
#light {
  opacity: 0.4;
  filter: alpha(opacity=50);
}

/* slogan text */
#slogantext {
  margin: 25px;
  text-align: center;
  padding-top: 225px;
  font-family: 'Quicksand', sans-serif;
  font-size: 100px;
  padding-bottom: 225px;
}

.containerslogan {
  position: relative;
  text-align: center;
  color: black;
  padding-top: 40px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;

}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0px;
  text-align: center;
  padding-top: 180px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 69px;
  padding-bottom: 225px;
  font-weight: bold;
  color: black;
}

.centered2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0px;
  text-align: center;
  padding-top: 220px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 69px;
  padding-bottom: 225px;
  font-weight: bold;
  /* display: table; */
  /* background-color: white; */
  color: black;
}

/* the website background */
body {
  margin:0;
  background: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

/* nav bar */
.container {
  width:100%;
  margin:0 auto;
  position: relative;
  font-size: 14px;
}

header {
  background:white;
  margin-top:0;

}

header::after {
  content: '';
  display: table;
  clear:both;
}


nav {
  float: right;
  /* position: sticky; */
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  /* postion:sticky; */
}

nav li {
  display: inline-block;
  margin-left: 75px;
  padding-top: 50px;

  position: relative;
}

nav a {
  color: black;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}


nav a:hover {
  color: black;
}

nav a::before {
  content: '';
  display:block;
  height: 5px;
  width: 100%;
  background-color: black;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}


/* The sticky class is added to the navbar with JS when it reaches its scroll position */
/* .sticky {
  position: fixed;
  top: 0;
  width: 100%;
} */

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
/* .sticky + .container {
  padding-top: 60px;
} */


/* slogan text */
#slogantext {
  margin: 0px;
  padding-top: 250px;
}


/* the website background */
body {
  margin:0;
  background: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

/* nav bar */
.container {
  width:80%;
  margin:0 auto;
  position: relative;
}


header {
  background:white;
}

header::after {
  content: '';
  display: table;
  clear:both;
}

.logo {
  float: left;
  padding:10px 0;
  position: absolute;
  left: -100px;

}

nav {
  float: right;
  /* postion: sticky; */
  top:0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 75px;
  padding-top: 25px;
  position: relative;
}

nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #ebbe47;
}

nav a::before {
  content: '';
  display:block;
  height: 5px;
  width: 100%;
  background-color: #ebbe47;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}


nav a:hover::before {
  width: 100%;
}

.dropbtn {
  padding-top: 50px;
}

.dropdownOpp {
  padding-top: 0px;
}

.dropdownOpp {
  float: left;
  overflow: hidden;
}

.dropdownOpp-content {
  padding-right: 0p
}

.dropdownOpp .dropbtn {
  font-size: inherit;
  border: none;
  outline: none;
  color: black;
  padding: inherit;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* .navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
} */

.dropdownOpp-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownOpp-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* .dropdownOpp-content a:hover {
  background-color: #ddd;
} */

.dropdownOpp:hover .dropdownOpp-content {
  display: block;
}

/* fa-caret-down:before{content:"\f0d7"}.fa-caret-up:before{content:"\f0d8"}.fa-caret-left:before{content:"\f0d9"}.fa-caret-right:before{content:"\f0da"}
fa-toggle-down:before,.fa-caret-square-o-down:before{content:"\f150"}.fa-toggle-up:before,.fa-caret-square-o-up:before{content:"\f151"}.fa-toggle-right:before,.fa-caret-square-o-right:before{content:"\f152"} */

#googleForm {
  padding-top: 10px;
  text-align: center;
  background-color: white;
  margin:0 auto;
}


.searchTitle{
  font-size: 40px;
  margin-top: 80px;
  font-family: 'Ubuntu', sans-serif;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #ebbe47;
}

.box{
  background-color: white;
  width: 64%;
  height:30%;
  border: 30px solid #f5dfa6;
  padding: 3%;
  margin-top: 10px;
  margin-bottom:100px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #b8d9f1;
  color: grey;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 12px;
}


/* Dropdown select menu */
.styled-select {
   height: 40px;
   overflow: hidden;
   width: 300px;
   color: black;
   margin-top: 1px;
   margin-bottom:auto;
   margin-right: auto;
   margin-left: auto;
   font-family: 'Quicksand', sans-serif;
   font-size: 14px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 18px;
   height: 40px;
   padding: 1px; /* If you add too much padding here, the options won't show in IE */
   width: 300px;
   font-family: 'Quicksand', sans-serif;
}


/* -------------------- Rounded Corners */
.rounded {
   border-radius: 20px;
}

.semi-square {
   /* -webkit-border-radius: 5px;
   -moz-border-radius: 5px; */
   border-radius: 5px;
}

/* -------------------- Colors: Background */
.blue    { background-color: #b8d9f1 ; }  /* #9ecbec#b8d9f1*/

/* -------------------- Colors: Text */
.blue select    { color: black; }
